@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-main text-neutral-dark-grey bg-light-green pt-8;
    }

    label {
        @apply block mb-2 cursor-pointer;
    }

    input {
        @apply h-11 focus:outline-none;
    }

    input[type="checkbox"],
    input[type="radio"] {
        @apply h-auto accent-green;
    }

    textarea {
        @apply focus:outline-none;
    }

    button {
        @apply focus:outline-none;
    }
}

@layer components {
    .field {
        @apply w-full border border-neutral-medium-grey rounded-md py-3 px-4 cursor-pointer;
    }

    .field:not(.has-error) {
        @apply focus:border-green hover:border-green
    }

    .has-error {
        @apply border-red;
    }

    .is-required {
        @apply text-green;
    }

    .form-row {
        @apply mb-5;
    }

    .has-two-cols {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4;
    }

    .option {
        @apply flex justify-center items-center gap-2 h-11 border border-neutral-medium-grey rounded-md mb-0 cursor-pointer hover:border-green;
    }

    .option label {
        @apply mb-0;
    }

    .option-radio {
        @apply relative;
    }

    .option-radio::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 115%;
        height: 115%;
        border-radius: 50%;
        border: 1px solid hsl(186, 15%, 59%);
        background-color: hsl(0, 0%, 100%);
    }

    .option-radio::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: hsl(169, 82%, 27%);
        display: none;
    }

    .option-radio:checked::before {
        border-color: hsl(169, 82%, 27%);
    }

    .option-radio:checked::after {
        display: block;
    }

    .error-placeholder {
        @apply text-red mt-1 block text-sm;
    }
}